@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700;800&family=Poppins:wght@200;500;800&family=Roboto:wght@300;500;700;900&display=swap');

* {
    font-family: "Manrope";
}

.HomePageTopHalf {
    background-color: green;
}

.FriendsList {
    background-color: #1c5456;
    padding: 15px 0;
}

.FriendsProfileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}